@import './_all-blocks/fonts.scss';
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
    width: 100%;
}

body {
    font-family: 'Forum';
}

@import './_all-blocks/allblocks.scss';
@import './mixin.scss';
@import './veraybels.scss';